<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Records
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    
    <ion-segment color="primary" [(ngModel)]="properties.activeTab" (ionChange)="tabChanged($event)"> 
        <ion-segment-button value="today">
            Today
        </ion-segment-button>
      <ion-segment-button value="volume">
            Volume
      </ion-segment-button>
      <ion-segment-button value="weight">
            Weight
      </ion-segment-button>   
      <ion-segment-button value="reps">
            Reps
      </ion-segment-button>      
    </ion-segment>    
    
    <div *ngIf="properties.activeTab === 'today'">
        <div class="records-estimated-max">
            <ion-icon name="trophy"></ion-icon>
            <h2>{{this.localRecords.estimatedMax}}{{this.exercise.unit}}</h2>
            <p>Estimated session max</p>
        </div>
        <ion-card class="orange-background records-card" >
            <div class="bar-text">{{localRecords.maxReps}} reps<span> with {{exercise.records.amrap.weight}}{{exercise.unit}} / {{exercise.records.amrap.reps}} lifetime best</span></div>
            <div class="records-bar">
                <div class="current-bar" 
                     [ngStyle]="{'width': (localRecords.maxReps / exercise.records.amrap.reps) * 100 + '%'}"
                     [ngClass]="{'completed' : localRecords.maxReps >= exercise.records.amrap.reps}"></div>
            </div>
        </ion-card>

        <ion-card class="red-background records-card" >
            <div class="bar-text">{{localRecords.maxWeight}}kg<span> {{exercise.records.overall.rep}} rep max / {{exercise.records.overall.max}}{{exercise.unit}} lifetime best</span></div>
            <div class="records-bar">
                <div class="current-bar" [ngStyle]="{'width': (localRecords.maxWeight / exercise.records.overall.max) * 100 + '%'}"
                     [ngClass]="{'completed' : localRecords.maxWeight >= exercise.records.overall.max}"></div>
            </div>
        </ion-card>

        <ion-card class="yellow-background records-card" >
            <div class="bar-text">{{localRecords.currentVolume}}{{exercise.unit}} <span>volume / {{exercise.records.backoffs.best}}{{exercise.unit}} ({{exercise.records.overall.rep}} rep) lifetime best</span></div>
            <div class="records-bar">
                <div class="current-bar" [ngStyle]="{'width': (localRecords.currentVolume / exercise.records.backoffs.best) * 100 + '%'}"
                     [ngClass]="{'completed' : localRecords.currentVolume >= exercise.records.backoffs.best}"></div>
            </div>
        </ion-card>
    </div>
 
    
    <div *ngIf="properties.activeTab === 'volume'">
        <div class="diary-loading" *ngIf="properties.loading">
            <ion-spinner></ion-spinner>
        </div>     
     
        <div class="records-estimated-max yellow-background" *ngIf="fullRecords.backoffs.length > 0">
            <ion-icon name="trophy"></ion-icon>
            <h2>{{fullRecords.backoffs[fullRecords.backoffsIndex].best}}{{exercise.unit}}</h2>
            <p>Volume for {{fullRecords.backoffs[fullRecords.backoffsIndex].reps}} rep sets</p>
        </div>        
        
        <ion-list class="records-list">
            <button ion-item *ngFor="let item of fullRecords.backoffs" (click)="viewRecord(item)">
                Best volume for {{item.reps}} rep sets: {{item.best}}{{exercise.unit}}
            </button>  
        </ion-list>        
        
        
        
        
    </div>
    
    <div *ngIf="properties.activeTab === 'weight'">
        <div class="diary-loading" *ngIf="properties.loading">
            <ion-spinner></ion-spinner>
        </div>  
        
        
        <div class="records-estimated-max red-background" *ngIf="fullRecords.overall.length > 0">
            <ion-icon name="trophy"></ion-icon>
            <h2>{{fullRecords.overall[fullRecords.overallIndex].max}}{{exercise.unit}}</h2>
            <p>{{fullRecords.overall[fullRecords.overallIndex].rep}} rep max</p>
        </div>         
        
        <ion-list class="records-list">
            <button ion-item *ngFor="let item of fullRecords.overall" (click)="viewRecord(item)" class="text-center">
                {{item.rep}}RM: {{item.max}}{{exercise.unit}}
            </button>  
        </ion-list>          
        
        
    </div>

    <div *ngIf="properties.activeTab === 'reps'">
        <div class="diary-loading" *ngIf="properties.loading">
            <ion-spinner></ion-spinner>
        </div> 
        
        <div class="records-estimated-max orange-background" *ngIf="fullRecords.amrap.length > 0">
            <ion-icon name="trophy"></ion-icon>
            <h2>{{fullRecords.amrap[fullRecords.amrapIndex].reps}} rep<span *ngIf="fullRecords.amrap[fullRecords.amrapIndex].reps > 1">s</span></h2>
            <p>With {{fullRecords.amrap[fullRecords.amrapIndex].weight}}{{exercise.unit}}</p>
        </div>  

        
        <ion-list class="records-list">
            <button ion-item *ngFor="let item of fullRecords.amrap" (click)="viewRecord(item)">
                Best reps with {{item.weight}}{{exercise.unit}}: {{item.reps}}@RPE{{item.rpe}}
            </button>  
        </ion-list>            
        
        
    </div>    
    
</ion-content>