.exercise-target .target-exercise{
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    font-size: 1.6rem;
    padding-left: 13px;
    max-width: 35%;
    width:35%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; 
    text-align: left;    
}

.exercise-target .item{
    display: inline-block;
    min-width: 10px;
    max-width: 55%;
    width:55%;
    background-color: transparent;
}

.exercise-target .icon{
    display: inline-block;
        line-height: 50px;
    vertical-align: top;
    font-size: 2rem;
    display: inline-block;
    line-height: 50px;
    vertical-align: top;
    font-size: 2rem;
    max-width: 10%; 
}

.exercise-targets{
    background-color: #e8e8e8;
    text-align: center;
}

.timeframe-options{
    background-color: #e8e8e8;
}

.timeframe-options .item{
    background-color:Transparent;
}

.goals-list .timeframe-options input{
    text-align:right;
}
