<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Goal Settings
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    
    <ion-list class="settings-list goals-list">
        <ion-item>
           <ion-label>Primary Goal</ion-label>
           <ion-select [(ngModel)]="account.goals.primary" (ionChange)="updateSettings()">
               <ion-option value="volume">Volume</ion-option>
               <ion-option value="reps">Reps</ion-option>
               <ion-option value="weight">Weight</ion-option>
               <ion-option value="none">None</ion-option>
           </ion-select>
       </ion-item>    
        
        <div class="goal-options" *ngIf="account.goals.primary !== 'none'">
        
            <ion-item>
               <ion-label>Target</ion-label>
               <ion-select [(ngModel)]="account.goals.target" (ionChange)="updateSettings()">
                   <ion-option value="alltime">All time best</ion-option>
                   <ion-option value="custom">Custom</ion-option>
                   <ion-option value="customexercise">Exercise specific targets</ion-option>
                   <ion-option value="none">None</ion-option>
               </ion-select>
            </ion-item>         

            <ion-item *ngIf="account.goals.target === 'custom'">
                <ion-label>Custom Target <span *ngIf="account.goals.primary === 'volume' || account.goals.primary === 'weight'">({{this.account.units}})</span></ion-label>
                <ion-input type="number" [(ngModel)]="account.goals.custom_target"></ion-input>
            </ion-item>   

            <div class="exercise-targets" *ngIf="account.goals.target === 'customexercise'">

                <div class="exercise-target" *ngFor="let target of account.goals.exercise_targets; let i = index">
                    <div class="target-exercise" (click)="openSelectExercise(target)">
                        <span *ngIf="!target.exerciseid">Select Exercise</span>
                        <span *ngIf="target.exerciseid">{{target.name}}</span>
                    </div>  

                    <ion-item>
                        <ion-input type="number" placeholder="Target" [(ngModel)]="target.target" (ionChange)="updateTarget(target)"></ion-input>
                    </ion-item> 

                    <ion-icon name="trash" (click)="deleteTarget(i, target)"></ion-icon> 
                </div>

                <button ion-button small clear (click)="createTarget()">Add Target</button>

            </div>

            <ion-item>
               <ion-label>Goal Timeframe</ion-label>
               <ion-select [(ngModel)]="account.goals.timeframe" (ionChange)="updateSettings()">
                   <ion-option value="workout">Per workout</ion-option>
                   <ion-option value="week">Per week</ion-option>
                   <ion-option value="month">Per month</ion-option>
                   <ion-option value="custom">Specific number of days</ion-option>
               </ion-select>
            </ion-item>   

            <div class="timeframe-options">
                <ion-item *ngIf="account.goals.timeframe === 'custom'">
                    <ion-label>Timeframe (days)</ion-label>
                    <ion-input type="number" [(ngModel)]="account.goals.custom_timeframe" (ionChange)="updateSettings()"></ion-input>
                </ion-item> 

                <ion-item *ngIf="account.goals.timeframe === 'custom'">
                   <ion-label>Day To Count From</ion-label>
                   <ion-select [(ngModel)]="account.goals.day" (ionChange)="setTimeframeDay()">
                       <ion-option value="monday">Monday</ion-option>
                       <ion-option value="tuesday">Tuesday</ion-option>
                       <ion-option value="wednesday">Wednesday</ion-option>
                       <ion-option value="thursday">Thursday</ion-option>
                       <ion-option value="friday">Friday</ion-option>
                       <ion-option value="saturday">Saturday</ion-option>
                       <ion-option value="sunday">Sunday</ion-option>
                   </ion-select>
                </ion-item>   

            </div>

            <ion-item>
               <ion-label>Group By</ion-label>
               <ion-select [(ngModel)]="account.goals.grouping" (ionChange)="updateSettings()">
                   <ion-option value="exercise">Exercise</ion-option>
                   <ion-option value="exercisetype">Exercise type (e.g. squat)</ion-option>
                   <ion-option value="musclegroup">Musclegroup (e.g. biceps)</ion-option>
               </ion-select>
            </ion-item> 
        </div>
        
    </ion-list>
    

    
</ion-content>