.slide-zoom{
  height:100%;
  overflow-y: auto;
}

ion-slides {
        height: calc(100% - 52px);
}

.date-changer{
    text-align: center; 
    line-height:47px;
        border-bottom: 5px solid #ececec;
}

.date-changer .ion-ios-arrow-back{
    float:left;
        line-height: 47px;
            width: 47px;
}

.date-changer .ion-ios-arrow-forward{
    float:right;
        line-height: 47px;
            width: 47px;
}

.diary-exercise-list .label p ion-icon{
    font-size:1.5em;
    margin-right:10px;
        opacity: 0.4;
}

.diary-exercise-list .label p{
    margin-top:5px;
        margin-bottom: -3px;
}

.diary-exercise-list .label p ion-icon.completed{
    color:#D44735;
    opacity:1;
}

.diary-exercise-list .label p ion-icon.add-set{}

.diary-exercise-list ion-item{
    padding-bottom:2px;
}

.diary-exercise-list ion-item .bar-progress{
    width: 50%;
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #D44735;
    left: 0px;
    z-index: 1;
    transition: width 200ms ease-in-out;
}

.diary-exercise-list .item-md.item-block .item-inner{
    border-bottom:none;
}

.diary-exercise-list ion-item:after{
content: " ";
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 2px;
    background-color: #ececec;
    left: 0px;
}

.diary-exercise-list .item-md ion-icon[item-end], ion-list .item-md ion-icon.ion-ios-arrow-forward{
    color: #c2c2c2;
}

.diary-exercise-list .item-md ion-icon:active, ion-list .item-md ion-icon.ion-ios-arrow-forward:active{
    color:#444;
}

.set-overflow{
    background-color: #d44735;
    color: white;
    width: 17px;
    height: 17px;
    display: inline-block;
    border-radius: 8.5px;
    position: relative;
    vertical-align: top;
    top: 2px;
    margin-right: 5px;
    font-size: 10px;
    line-height: 17px;
    text-align: center;    
}

.set-overflow:after{
    content: "";
    position: absolute;
    left: 3px;
    width: 17px;
    height: 17px;
    background-color: #d4473554;
    border-radius: 8.5px;
    z-index: -1;
}

.diary-loading{
    text-align: center;
    margin-top: 45%;
}

.diary-loading ion-spinner * {
  stroke: #d44735;
}

.diary-empty{
    margin-top: 40%;
        color: #d6d6d6;  
}

.diary-empty ion-icon{
        display: block;
    font-size: 80px;
}


.modal-wrapper ionic2-datepicker .datepicker-wrapper .datepicker-header .weekday-header{
    background-color:#d44735;
}

.modal-wrapper ionic2-datepicker .datepicker-wrapper .datepicker-header{
    background-color:#d44735;
}

ionic2-datepicker .button-ios, ionic2-datepicker .button-ios.activated{
    background-color:transparent;
    color:black;
}

.modal-wrapper ionic2-datepicker .datepicker-calendar .calendar-wrapper .calendar-cell{
        padding-top: 15px;
    padding-bottom: 15px;
}

.modal-wrapper ionic2-datepicker .datepicker-calendar .calendar-wrapper .datepicker-current{
    color:#d44735;
}

.modal-wrapper ionic2-datepicker .datepicker-calendar .calendar-wrapper .datepicker-selected{
    border-radius:2px;
    background-color:#ececec;
}
.modal-wrapper ionic2-datepicker .datepicker-calendar .calendar-wrapper .datepicker-temp{
    background-color:#ddd !important;
    border-radius:2px;
}

.modal-wrapper ionic2-datepicker .datepicker-footer button{
    width:auto;
}

.modal-wrapper ionic2-datepicker .datepicker-footer button.activated{
    background-color:transparent;
}

.modal-wrapper ionic2-datepicker .datepicker-footer{
    display:inline;
    text-align:right;
}


.modal-wrapper ionic2-datepicker .datepicker-footer button:last-child{
    color:#d44735;
}


.modal-wrapper ionic2-datepicker .datepicker-rows .row.selected{
    border-radius:2px;
    background-color:#ececec;     
}

.modal-wrapper ionic2-datepicker .datepicker-rows .row.active{
    background-color:#ddd;
    border-radius:2px;  
}

.modal-wrapper ionic2-datepicker .datepicker-calendar .calendar-wrapper .datepicker-mark{
     border-radius: 2px;
    background-color: #d447353d;   
}

.button-only-alert .alert-button .button-inner{
        justify-content: start;
}

.button-only-alert .alert-head{
    padding-bottom: 2px;
}

.button-only-alert .alert-button-group{
    padding-bottom: 15px;
}

.button-only-alert .alert-button{
    color: black;
    text-transform: capitalize;
    font-size: 16px;    
        padding-left: 25px;
            font-weight: 400;
                width: 100%;
    display: block;
}

.button-only-alert .alert-button.activated {
    background-color: transparent;
    color:rgba(0,0,0,0.7);
}

.button-only-alert .alert-button:before{
    font-family: "Ionicons";
    display: inline-block;  
    position:absolute;
    left:0px;
}

.button-only-alert .share-button:before{
    content: "\f20f";
}

.button-only-alert .copy-button:before{
        content: "\f2da";
}

.button-only-alert .remove-button:before{
        content: "\f398";
}

.button-only-alert .remove-program-button:before{
    content: "\f367";
}


.button-only-alert .reorder-button:before{
        content: "\f2fc";
}


.diary-exercise-list ion-reorder{
    margin-right:20px;
}

.reorder-close{
        margin: 0 6px;
    min-width: 44px;
    padding: 0 2px;
    text-align: center;
}