<ion-header class="profile-nav">
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Profile</ion-title>

        <ion-buttons end>
            <button ion-button icon-only *ngIf="added">
                <ion-icon name="remove-circle"></ion-icon>
            </button>
            <button ion-button icon-only *ngIf="!added">
                <ion-icon name="ios-add-circle"></ion-icon>
            </button>            
        </ion-buttons>    
        
      
    
    </ion-navbar>
</ion-header>

<ion-content>
    <div class="profile-header">
        
        <div class="profile-dp">
            <img [src]="friendProfile.dpFull" />
        </div>
        

        <h2>{{friendProfile.display ? friendProfile.display : friendProfile.username}}</h2>
        <p>
            <a (click)="openDiary()">View Diary</a> 
            <a (click)="sendMessage()">Send Message</a>
        </p>


        <ion-segment [(ngModel)]="properties.activeTab" color="light">
            <ion-segment-button value="profile">
                Profile
            </ion-segment-button>
            <ion-segment-button value="activity">
                Activity
            </ion-segment-button>
       </ion-segment>     


    </div>


    <div *ngIf="properties.activeTab === 'profile'">
        <ion-list class="profile-content">
            <ion-item *ngIf="profile.display">
                <ion-icon name="person" item-start></ion-icon>
                <h2>Display Name</h2>
                <p>{{profile.display}}</p>
            </ion-item>
            <ion-item *ngIf="profile.age">
                <ion-icon name="heart" item-start></ion-icon>
                <h2>Age</h2>
                <p>{{profile.age}}</p>
            </ion-item> 
            <ion-item *ngIf="profile.gender">
                <ion-icon name="body" item-start></ion-icon>
                <h2>Gender</h2>
                <p>{{profile.gender}}</p>
            </ion-item> 
            <ion-item *ngIf="profile.about">
                <ion-icon name="help" item-start></ion-icon>
                <h2>About Me</h2>
                <p class="extended">{{profile.about}}</p>
            </ion-item> 
            <ion-item *ngIf="profile.why">
                <ion-icon name="locate" item-start></ion-icon>
                <h2>Purpose</h2>
                <p class="extended">{{profile.why}}</p>
            </ion-item>
            <ion-item *ngIf="profile.goals">
                <ion-icon name="trending-up" item-start></ion-icon>
                <h2>Goals</h2>
                <p class="extended">{{profile.goals}}</p>
            </ion-item>              
        </ion-list>    
        
    </div>
    
    
    <div *ngIf="properties.activeTab === 'activity'">
        <ion-list class='activity'>
            <ion-item *ngFor="let activity of activity.activity;" (click)="viewDetails(activity)">
                <h2>{{formatDate(activity.assigneddate)}}</h2>
                <p>Tracked {{activity.name}}</p>             
                <ion-icon name="copy" item-end ion-datepicker (ionChanged)="copyToDate($event, activity)" [okText]="'Copy To Date'"></ion-icon>
            </ion-item>  
            
        </ion-list>
    
        <ion-infinite-scroll (ionInfinite)="getMoreActivity($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>         
    </div>
 
</ion-content>
