.messages-list ion-note {
    font-size: 12px;
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin-top: 14px;
}

.messages-list .item.requires-reply h2, .messages-list .item.requires-reply p{
    font-weight:700;
}