<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{program.name}}</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="openProgramPopover($event)">
                <ion-icon name="more" ></ion-icon>
            </button>
        </ion-buttons>   
        
      
    
    </ion-navbar>
</ion-header>

<ion-content class='program-content'>
    
    <div *ngIf="properties.loading" class="diary-loading">
        <ion-spinner></ion-spinner>
    </div>
    
    <div *ngIf="!properties.loading">
        <div class="workout-description" *ngIf="program.description" (click)="viewFull = !viewFull" [ngClass]="{'show-all': viewFull}">
            {{program.description}}
        </div>

        <div class="workout-tabs"  *ngIf="tabs.length > 1">
            <button ion-button small (click)="properties.activeTab = tab" [outline]="properties.activeTab !== tab" *ngFor="let tab of tabs">{{tab}}</button>

        </div>

        <div class="program-workouts">

            <div *ngFor="let workout of program.workouts" class="workout-list">
                <ion-list *ngIf="isInTab(workout)" >
                    <ion-list-header>
                        {{workout.name}}
                        <ion-icon name="more" item-end (click)="openWorkoutPopover($event, workout)"></ion-icon>
                    </ion-list-header>
                    <ion-item *ngFor="let exercise of workout.exercises" (click)="openExercise(exercise,workout)">
                        <h2>{{exercise.name}}</h2>
                        <p>{{exercise.sets}} set<span *ngIf="exercise.sets !== '1'">s</span> of {{exercise.reps}} rep<span *ngIf="exercise.reps !== '1'">s</span><span *ngIf="exercise.percentage && exercise.percentage > 0">, {{exercise.percentage}}%</span><span *ngIf="exercise.rpe && exercise.rpe > 0">, @{{exercise.rpe}}RPE</span></p>
                        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-end ></ion-icon>
                    </ion-item>
                </ion-list>
            </div>

        </div>
    
    </div>
</ion-content>


<ion-footer class="program-footer">
    <button ion-button (click)="openAddProgram()">Add To Diary</button>
    <button ion-button color="light" (click)="customizeProgram()">Cutsomize Program</button>
</ion-footer>