<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Confirm Details
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>
    

    <p class="program-start">
        Program will start on <strong>{{formatDate(startDate)}}</strong> 
       
        
    </p>
    
    <p class="program-end">
        Program will end on {{getEndDate()}}
    </p>
    
    <p class="program-change-date">
     <button color="light" small ion-button ion-datepicker (ionChanged)="selectDate($event)" [okText]="'Select Date'">Change Start Date</button>
    </p>


    <ion-list class="add-program-maxes">
        <ion-list-header [ngClass]="{'maxes-required': maxCount < exercises.length}" (click)="showMoreMaxes = !showMoreMaxes">
            {{maxCount}}/{{exercises.length}} Max<span *ngIf="(exercises.length) !== 1">es</span> Entered
            <ion-icon [name]="showMoreMaxes ? 'md-arrow-dropup' :'md-arrow-dropdown'" item-end></ion-icon>
        </ion-list-header>
        <div *ngIf="showMoreMaxes">
            <ion-item *ngFor="let exercise of exercises">
                <ion-label floating>{{maxes[exercise].name}}</ion-label>
                <ion-input type="text" [(ngModel)]="maxes[exercise].max" (change)="calculateMaxes()"></ion-input>
            </ion-item>
        </div>
    </ion-list>
    
    
    <ion-list class='add-program-options' >
        <ion-list-header class="more-header" (click)="showMoreCalc = !showMoreCalc">
            1RM Calculator
            <ion-icon [name]="showMoreCalc ? 'md-arrow-dropup' :'md-arrow-dropdown'" item-end></ion-icon>
        </ion-list-header>        
        <div *ngIf="showMoreCalc">
            <ion-item>
                <ion-label floating>Reps</ion-label>
                <ion-input name="reps" type="number" placeholder="Reps" [(ngModel)]="calculator.reps"></ion-input>
            </ion-item>            
            <ion-item>
                <ion-label floating>Weight</ion-label>
                <ion-input name="weight" type="number" placeholder="Weight" [(ngModel)]="calculator.weight"></ion-input>
            </ion-item> 
            <ion-item *ngIf="calculator.reps && calculator.weight" class="result">
                Estimated Max: {{getMax() | number:'1.0-2'}}{{account.units}}
            </ion-item>
        </div>
    </ion-list>     
    
    
    <ion-list class="add-program-options">
        <ion-list-header class="more-header" (click)="showMore = !showMore">
            Repeat Program
            <ion-icon [name]="showMore ? 'md-arrow-dropup' :'md-arrow-dropdown'" item-end></ion-icon>
        </ion-list-header>   
        
        <div *ngIf="showMore">
            
            <ion-item>
                <ion-label floating>How many times should this program repeat?</ion-label>
                <ion-input type="text" [(ngModel)]="options.cycles"></ion-input>
            </ion-item>    

            
        </div>
    </ion-list>
    
    <ion-list class="add-program-options">
        <ion-list-header class="more-header" (click)="showMoreProg = !showMoreProg">
            Progression Options
            <ion-icon [name]="showMoreProg ? 'md-arrow-dropup' :'md-arrow-dropdown'" item-end></ion-icon>
        </ion-list-header>   
        
        <div *ngIf="showMoreProg">

            <ion-item>
                <ion-label>Progression Type</ion-label>
                <ion-select [(ngModel)]="options.progressiontype">
                  <ion-option value="">None</ion-option>
                  <ion-option value="weight">Weight</ion-option>
                  <ion-option value="percentage">Percentage</ion-option>
                </ion-select>
            </ion-item>               
              
            <div *ngIf="options.progressiontype">
                <ion-item>
                    <ion-label floating>Progression Amount (<span *ngIf="options.progressiontype === 'weight'">{{account.units}}</span><span *ngIf="options.progressiontype === 'percentage'">%</span>)</ion-label>
                    <ion-input type="text" [(ngModel)]="options.progressionamount"></ion-input>
                </ion-item>  
                
                <p class="exercise-progression-amounts-toggle" (click)="showMoreProgEx = !showMoreProgEx">
                    Specify amounts per exercise
                    <ion-icon [name]="showMoreProgEx ? 'md-arrow-dropup' :'md-arrow-dropdown'" item-end></ion-icon>  
                </p>
                <div class="exercise-progression-amounts" *ngIf="showMoreProgEx">
                    <ion-item *ngFor="let exercise of exercises">
                        <ion-label floating>{{maxes[exercise].name}}</ion-label>
                        <ion-input type="number" [(ngModel)]="options.progressionexercises[exercise.exerciseid]"></ion-input>
                    </ion-item>                    
                </div>
                
                <ion-item>
                    <ion-label floating>Progression Frequency</ion-label>
                    <ion-select [(ngModel)]="options.frequencySelect" (change)="updateFrequency()">
                      <ion-option value="every">Increase after every workout</ion-option>
                      <ion-option value="everyother">Increase after every other workout</ion-option>
                      <ion-option value="custom">Increase after a custom amount of workouts</ion-option>
                    </ion-select>
                </ion-item>                  

                <ion-item *ngIf="options.frequencySelect === 'custom'">
                    <ion-label floating>Custom Frequency</ion-label>
                    <ion-input type="number" [(ngModel)]="options.progressiontimeframe"></ion-input>
                </ion-item>                 
                
            </div>
            
            
        </div>
    </ion-list>    

    <div class="restore">
        <p>Already purchased premium?</p>
        <button ion-button outline block (click)="restorePremium()">Restore Premium</button>
    </div>
    
</ion-content>

<ion-footer class="add-program-footer">
    <button ion-button (click)="addProgram()">Add To Diary</button>
</ion-footer>