// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.menu-header{
     background-color: #D44735;
    padding: 20px 15px;
    color: #ffffffde;   
}

.menu-header p{
    padding:0px;
    margin:0px;
}


.menu-header .user-dp{
    max-width: 50px;
    background-color: white;
    max-height: 50px;
    height: 50px;
    width:50px;
    overflow: hidden;
    border-radius: 25px;
    margin-bottom: 10px;    
}

.menu-header .username{
        font-size: 16px;
    margin-bottom: 5px;
}

.menu-list.list-md .item-block .item-inner{
    border-bottom:0px;
}

.menu-list.list-md .item-md{
        border-bottom: 1px solid #dedede;
}

.menu-list.list-md .item-md:last-child{
    border-bottom:0px;
}

.menu-list.list-md .item-md ion-icon{
    opacity:0.7;
}

.menu-list.list-md .menu-premium.item-md ion-icon{
    opacity:1;
    color:#e5c100;
}


/*dark theme ******************************************************************/


.dark-theme ion-content{
    background-color:black;
        color: white;
}

.dark-theme .item{
    background-color:black !important;
        color: white;
}

.dark-theme .menu-list .item{
    border-color:#232323;
}

.dark-theme .item .list-header{
    background-color:black;
        color: white;
}

.dark-theme .date-changer{
    border-color:#232323;
}

.dark-theme ion-slide{
    background-color:black !important;
}

.dark-theme .item .item-inner{
    border-color:#232323;
}

.dark-theme .diary-exercise-list ion-item:after{
    background-color:#232323;
}

.dark-theme .diary-progress-bar{
    background-color:black;
}

.dark-theme .diary-records{
    background-color:black;
}

.dark-theme .diary-content ion-segment{
    background-color:black;
}

.dark-theme .diary-progress-bar .progress-bar-inner span{
    background-color:#232323;
}

.dark-theme .diary-progress-bar svg circle{
    stroke: rgb(212, 71, 53);
}

.dark-theme .stats-timeframes{
    background-color:black;
}

.dark-theme .highcharts-container svg rect.highcharts-background{
    fill:black;
}

.dark-theme h3.stats-metric{
    background-color:black;
}

.dark-theme .extra-stats{
    background-color:black;
}

.dark-theme .diary-footer{
    background-color:#232323;
}

.dark-theme .diary-footer .text-input{
    background-color:dimgrey;
}


.dark-theme .searchbar-md.flat-search .searchbar-input{
    background-color:#232323;
    border-color:#232323;
}

.dark-theme .card-md{
    background-color:black;
}

.dark-theme .card-md h2{
    color:white;
}

.dark-theme .alert-wrapper{
    background-color:#232323;
        color: white;
}

.dark-theme .alert-message, .dark-theme .alert-radio-label, .dark-theme .alert-input, .dark-theme .button-only-alert .alert-button{
    color:white;
}

.dark-theme ionic2-datepicker .datepicker-wrapper{
    background-color:black;
    color:white;
}

.dark-theme ionic2-datepicker .button-ios, .dark-theme ionic2-datepicker .button-ios.activated{
    color:white;
}

.dark-theme .popover-content{
    background-color:black;
}
