.edit-set .item-checkbox{
        margin-top: 10px;
    margin-bottom: 20px;
}

.edit-set .item-checkbox .item-inner{
    border-bottom:none;
}

.edit-set .rpe-header{
    margin-bottom: -10px;
    padding-bottom: 0px;   
    color:#999;
}

.edit-set .more-header{
    margin-top: 40px;
}

.more-set-options ion-item{
    background-color:#ececec;
}

.more-set-options .item-select{
    padding-top: 20px;
   
}

.more-set-options .item-select:last-child{
     padding-bottom: 30px;
}