<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Add Friends
        </ion-title>
        
       <ion-buttons start>
            <button icon-start ion-button (click)="inviteFriends()" showWhen="android, windows">
                <ion-icon name="md-share"></ion-icon>
                Invite
            </button>       
           
            
            <button ion-button (click)="dismiss()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
        
        <ion-buttons showWhen="ios" end>
            <button ion-button (click)="inviteFriends()">
                <span ion-text>Invite</span>
            </button>             
        </ion-buttons>        
 
    </ion-toolbar>
</ion-header>



<ion-content>
    
    
    <ion-searchbar
        [(ngModel)]="properties.search"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="searchFriends(properties.search)"
        (ionCancel)="searchCancelled()"
        placeholder="Search Users"
        class="flat-search">
    </ion-searchbar>   
    

   
    <div class="diary-loading" *ngIf="properties.loading">
        <ion-spinner></ion-spinner>
    </div>    
    
    <ion-list class="friends-list" *ngIf="!properties.search">
           
            <ion-item *ngFor="let friend of suggestedFriends" (click)="viewProfile(friend, true)">
                <ion-avatar item-start>
                    <img [src]="getDp(friend.dp)">
                </ion-avatar>
                <h2>{{friend.display ? friend.display : friend.username}}</h2>
                <p></p>

                <button ion-button outline [disabled]="friend.adding || friend.added" item-end (click)="addFriend($event,friend)">
                    <ion-spinner class="add-friend-loading" *ngIf="friend.adding"></ion-spinner>
                    <span *ngIf="!friend.added">Add</span>
                    <span *ngIf="friend.added">Added!</span>
                </button>

            </ion-item>  
    </ion-list>
    
    <ion-list class="friends-list" *ngIf="properties.search">
           
            <ion-item *ngFor="let friend of friends" (click)="viewProfile(friend, true)">
                <ion-avatar item-start>
                    <img [src]="getDp(friend.dp)">
                </ion-avatar>
                <h2>{{friend.display ? friend.display : friend.username}}</h2>
                <p></p>

                <button ion-button outline [disabled]="(friend.adding || friend.added) && !friend.pending" item-end (click)="addFriend($event,friend)">
                    <ion-spinner class="add-friend-loading" *ngIf="friend.adding"></ion-spinner>
                    <span *ngIf="!friend.added && !friend.pending">Add</span>
                    <span *ngIf="friend.added && !friend.pending">Added!</span>
                    <span *ngIf="friend.pending">Accept</span>
                </button>

            </ion-item>  
    </ion-list>    

    
</ion-content>