.message-list{
    margin-top:20px;
    margin-bottom:20px;
}

.message-list .message{
    width:100%;
}


.message-list .message ion-label{
    flex:none;
        margin: 0px;
    padding: 0px;
        padding: 10px 15px;
    border-radius: 15px;
     overflow: visible;
     transition:margin-top linear 200ms;

}

.message-list .message.show-time ion-label{
        margin-top: 16px;
}

.message-list .message ion-note{
    position: absolute;
    top: -16px;
font-size:10px;
z-index:-1;
}

.message-list .message.from-message ion-note{
    left: 73px;
    top: 0;
}

.message-list .message.to-message ion-note{
    right:0px;
}

.message-list .message.from-message.before ion-label{
    border-bottom-left-radius: 5px;
}

.message-list .message.from-message.after ion-label{
    border-top-left-radius: 5px;
}

.message-list .message.to-message.before ion-label{
    border-bottom-right-radius: 5px;
}

.message-list .message.to-message.after ion-label{
    border-top-right-radius: 5px;
}

.message-list .message.from-message ion-avatar{
        margin-top: 0px;
    margin-bottom: 0px;
}

.message-list .message.from-message.before ion-avatar{
    opacity:0;
}

.message-list .message.from-message ion-label{
    background-color:#eee;
    max-width: 75%;
        margin-bottom: 5px;
}



.message-list .message.to-message ion-label{
    
    background-color:#d44735;
    position: relative;
    right: 15px;
        max-width: 75%;
        float:right;
            margin-bottom: 5px;
}

.message-list .message.to-message .input-wrapper{
    display: block;
}

.message-list .message ion-label p{
    min-height:17px;
    white-space: normal;
}

.message-list .message.to-message ion-label p {
    color:white;
}


.message-list .message .item-inner {
    border-bottom:none;
}


.diary-footer.message-footer ion-input{
        width: 75%;
}

.diary-footer.message-footer .button-container{
    width:20%;
}