<ion-header>
    <ion-toolbar color="primary">
        <ion-title>
            Calculator
        </ion-title>
        <ion-buttons start>
            <button ion-button (click)="dismiss()">
                <span ion-text showWhen="ios">Cancel</span>
                <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
            </button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content>

    <ion-segment [(ngModel)]="properties.activeTab">
        <ion-segment-button value="1rm">
            1RM
        </ion-segment-button>
        <ion-segment-button value="wilks">
            Wilks
        </ion-segment-button>
        <ion-segment-button value="plates">
            Plates
        </ion-segment-button>
    </ion-segment> 
    
    
    
    <ion-list class='calculator' *ngIf="properties.activeTab === '1rm'">
        <ion-item>
            <ion-label floating>Reps</ion-label>
            <ion-input name="reps" type="number" placeholder="Reps" [(ngModel)]="fields.reps"></ion-input>
        </ion-item>            
        <ion-item>
            <ion-label floating>Weight</ion-label>
            <ion-input name="weight" type="number" placeholder="Weight" [(ngModel)]="fields.weight"></ion-input>
        </ion-item> 
        <ion-item *ngIf="fields.reps && fields.weight" class="result">
            Estimated Max: {{getMax() | number:'1.0-2'}}{{account.units}}
        </ion-item>
    </ion-list>  


    <ion-list class='calculator' *ngIf="properties.activeTab === 'wilks'">
        <ion-item>
            <ion-label floating>Bodyweight</ion-label>
            <ion-input name="bodyweight" type="number" placeholder="Bodyweight" [(ngModel)]="fields.bodyweight"></ion-input>
        </ion-item>            
        <ion-item>
            <ion-label floating>Weight Lifted</ion-label>
            <ion-input name="weight" type="number" placeholder="Weight" [(ngModel)]="fields.weight"></ion-input>
        </ion-item> 
        <ion-item>
            <ion-label floating>Gender</ion-label>
            <ion-select [(ngModel)]="fields.gender">
                <ion-option value="male">Male</ion-option>
                <ion-option value="female">Female</ion-option>
                <ion-option value="other">Other</ion-option>
            </ion-select>
        </ion-item>         
        <ion-item *ngIf="fields.bodyweight && fields.weight && fields.gender" class="result">
            Wilks Points: {{getWilks() | number:'1.0-2'}}
        </ion-item>
    </ion-list>  


    <ion-list class='calculator' *ngIf="properties.activeTab === 'plates'">
        <ion-item>
            <ion-label floating>Units</ion-label>
            <ion-select [(ngModel)]="fields.units">
                <ion-option value="kg">kg</ion-option>
                <ion-option value="lbs">lbs</ion-option>
            </ion-select>
        </ion-item>      
        
        <ion-item *ngIf="fields.units === 'kg'">
            <ion-label floating>Plates</ion-label>
            <ion-select multiple="true" [(ngModel)]="fields.kgplates">
                <ion-option value="50">50</ion-option>
                <ion-option value="30">30</ion-option>
                <ion-option value="25">25</ion-option>
                <ion-option value="20">20</ion-option>
                <ion-option value="15">15</ion-option>
                <ion-option value="10">10</ion-option>
                <ion-option value="5">5</ion-option>
                <ion-option value="2.5">2.5</ion-option>
                <ion-option value="1.25">1.25</ion-option>
                <ion-option value="0.5">0.5</ion-option>
                <ion-option value="0.25">0.25</ion-option>
                
            </ion-select>
        </ion-item>    
        
        <ion-item *ngIf="fields.units === 'lbs'">
            <ion-label floating>Plates</ion-label>
            <ion-select multiple="true" [(ngModel)]="fields.lbsplates">
                <ion-option value="110">110</ion-option>
                <ion-option value="65">65</ion-option>
                <ion-option value="55">55</ion-option>
                <ion-option value="45">45</ion-option>
                <ion-option value="35">35</ion-option>
                <ion-option value="25">25</ion-option>
                <ion-option value="10">15</ion-option>
                <ion-option value="5">5</ion-option>
                <ion-option value="2.5">2.5</ion-option>
                <ion-option value="1.25">1.25</ion-option>
                <ion-option value="0.5">0.5</ion-option>
                
            </ion-select>
        </ion-item>         
        
        
        
        <ion-item>
            <ion-label floating>Bar Weight</ion-label>
            <ion-input name="barweight" type="number" placeholder="Bar Weight" [(ngModel)]="fields.barweight"></ion-input>
        </ion-item>            
        <ion-item>
            <ion-label floating>Full Weight (including bar)</ion-label>
            <ion-input name="fullweight" type="number" placeholder="Full Weight" [(ngModel)]="fields.fullweight"></ion-input>
        </ion-item>         
        <ion-item *ngIf="fields.units && fields.barweight && fields.fullweight" class="result plates-result">
            Plates Per Side: <br>{{getPlates()}}
        </ion-item>
    </ion-list> 
    
    
</ion-content>