<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Friends</ion-title>

        <ion-buttons end>
            <button ion-button icon-only (click)="openAddFriends()">
                <ion-icon name="person-add" ></ion-icon>
            </button>
        </ion-buttons>    
        
      
    
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-segment color="primary" [(ngModel)]="properties.activeTab" (ionChange)="tabChanged($event)">
        <ion-segment-button value="friends">
            Friends
        </ion-segment-button>
      <ion-segment-button value="activity">
            Activity
      </ion-segment-button>
      <ion-segment-button value="requests">
            Requests
            <ion-badge *ngIf="friendRequests.length > 0">{{friendRequests.length}}</ion-badge>
      </ion-segment-button>        
    </ion-segment>    
    
    <div *ngIf="properties.activeTab === 'friends'">
        <ion-list class="friends-list">
            <div *ngFor="let letter of alphabet">
                <ion-list-header>
                    {{letter}}
                </ion-list-header>            
                <ion-item *ngFor="let friend of friends[letter]" (click)="viewProfile(friend, true)">
                    <ion-avatar item-start>
                        <img [src]="getDp(friend.dp)">
                    </ion-avatar>
                    <h2>{{friend.name}}</h2>
                    <p></p>

                    <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-end></ion-icon>

                </ion-item>  
            </div>
        </ion-list>
    </div>
    
    
    <div *ngIf="properties.activeTab === 'activity'">
        <ion-list class='activity'>
            <ion-item *ngFor="let activity of friendActivity;" (click)="viewDetails(activity)">
                <ion-avatar item-start>
                    <img [src]="getDp(activity.dp)">
                </ion-avatar>                
                <h2>{{formatDate(activity.assigneddate)}}</h2>
                <p>{{activity.display ? activity.display : activity.username}} tracked {{activity.name}}</p>             
                <ion-icon name="copy" item-end ion-datepicker (ionChanged)="copyToDate($event, activity)" [okText]="'Copy To Date'"></ion-icon>
            </ion-item>  
            
        </ion-list>
    
        <ion-infinite-scroll (ionInfinite)="getMoreActivity($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>         
    </div>   
    
    
    
    <div *ngIf="properties.activeTab === 'requests'">
        <ion-list class="friends-list">           
            <ion-item *ngFor="let request of friendRequests; let i = index" (click)="viewProfile(request, false)">
                <ion-avatar item-start>
                    <img [src]="getDp(request.dp)">
                </ion-avatar>
                <h2>{{request.display ? request.display : request.username}}</h2>
                <p></p>
                <button ion-button clear item-end (click)="declineFriend(request,i)">Decline</button>
                <button ion-button clear item-end (click)="acceptFriend(request,i)">Accept</button>
                
            </ion-item>  
        </ion-list>
    </div>    
    
 
</ion-content>
