<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Leaderboard</ion-title>

        <ion-buttons end>
            <button ion-button icon-only tools>
                <ion-icon name="more" ></ion-icon>
            </button>
        </ion-buttons>    
        
      
    
    </ion-navbar>
</ion-header>

<ion-content>
 
  
    <h3 class="leaderboard-exercise" (click)="openChangeExercise()">{{exercise.name}} <ion-icon name="create"></ion-icon></h3>
  
    <div class="extended-segments" id="leaderboard-segments" >
        <ion-segment color="primary" [(ngModel)]="properties.reps" (ionChange)="getLeaderboard()">
            <ion-segment-button value="{{rep}}" *ngFor="let rep of reps">
                {{rep}}RM
            </ion-segment-button>
        </ion-segment>
    </div>   
    
    <div class="diary-loading" *ngIf="leaderboardProperties[properties.exerciseid + '-' + properties.reps].loading">
        <ion-spinner></ion-spinner>
    </div>    
    
    <div class="diary-empty leaderboard-empty" *ngIf="(!leaderboards[properties.exerciseid + '-' + properties.reps] || leaderboards[properties.exerciseid + '-' + properties.reps].length < 1) && !leaderboardProperties[properties.exerciseid + '-' + properties.reps].loading">
        <ion-icon name='ribbon'></ion-icon>
        Leaderboard Empty
    </div>    
    
    
    <ion-list *ngIf="!leaderboardProperties[properties.exerciseid + '-' + properties.reps].loading" class="leaderboard-list">
        <ion-item *ngFor="let item of leaderboards[properties.exerciseid + '-' + properties.reps]; let i = index">
            <ion-avatar item-start>
                <img [src]="getDp(item.dp)">
            </ion-avatar>
            <h2>{{i + 1}}. {{item.weight}}{{item.unit}}</h2>
            <p (click)="viewDetails(item, i + 1)">{{item.display ? item.display : item.username}}, {{formatDate(item.assigneddate)}}</p>
            
            <ion-icon [ngClass]="{'liked' : item.liked}" name="thumbs-up" item-end (click)="toggleLike(item)">
                 <ion-badge item-end *ngIf="item.likes.length > 0">{{item.likes.length}}</ion-badge>   
            </ion-icon>
            <ion-icon name="share" item-end (click)="share(item, i + 1)"></ion-icon>
            
        </ion-item>
    </ion-list>    
    
    <ion-infinite-scroll (ionInfinite)="loadMoreLeaderboard($event)" *ngIf="!leaderboardProperties[properties.exerciseid + '-' + properties.reps].loading">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>     
    
    
</ion-content>
