.searchbar-md.flat-search{
    padding:8px 0px;
}

.searchbar-md.flat-search .searchbar-input{
    box-shadow:none;
    border-bottom: 1px solid #dedede;
}

.add-diary-list .item ion-icon[item-end]{
    font-size: 16px;
    line-height: 49px;
    margin: 0px;
    margin-left: 15px;
color: #c2c2c2;    
}

.add-diary-list .item ion-icon[item-end]:active{
    color:#444;
}


.virtual-hide{
    display:none;
}

.more-exercises{
        color: #c1c1c1;
}


.create-exercise{
        text-align: center;
            font-size: 14px;
    margin-top: 10px;
}
