<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Settings</ion-title>

        <ion-buttons end>
            <button ion-button icon-only tools>
                <ion-icon name="more" ></ion-icon>
            </button>
        </ion-buttons>    
        
      
    
    </ion-navbar>
</ion-header>

<ion-content>
    
<ion-list class="settings-list">
    
    <ion-list-header>
        <h2>Diary Settings</h2>
    </ion-list-header> 
    
        <button ion-item detail-none (click)="openGoalSettings()">
            Goal Settings
            <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-end></ion-icon>
        </button>
    
    <ion-item>
        <ion-label>Default Units</ion-label>
        <ion-select [(ngModel)]="units.units" (ionChange)="openChangeUnits()">
            <ion-option value="kg">kg</ion-option>
            <ion-option value="lbs">lbs</ion-option>
        </ion-select>
    </ion-item>
    
    <ion-item>
        <ion-label>Default Distance Units</ion-label>
        <ion-select [(ngModel)]="units.distanceunits" (ionChange)="openChangeDistanceUnits()">
            <ion-option value="cm">cm</ion-option>
            <ion-option value="inches">inches</ion-option>
            <ion-option value="ft">ft</ion-option>
            <ion-option value="m">m</ion-option>
            <ion-option value="km">km</ion-option>
            <ion-option value="miles">miles</ion-option>
        </ion-select>
    </ion-item>   
    
    <ion-item>
        <ion-label>Theme</ion-label>
        <ion-select [(ngModel)]="account.theme" (ionChange)="updateTheme()">
            <ion-option value="light">Light</ion-option>
            <ion-option value="dark">Dark (Energy Efficient)</ion-option>
        </ion-select>
    </ion-item>     
    
    <ion-item>
        <ion-label>Autocomplete Sets</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="account.autocomplete" (ionChange)="updateSettings()"></ion-checkbox>
    </ion-item>    
 
    <ion-item>
        <ion-label>Show On Leaderboard</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="account.leaderboard" (ionChange)="updateSettings()"></ion-checkbox>
    </ion-item> 
    
    
    
    
    <ion-list-header>
        <h2>Data</h2>
    </ion-list-header>    
    

    <button ion-item detail-none (click)="openImport()">
        <ion-icon name="cloud-upload" item-start></ion-icon>
        Import Data
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-end></ion-icon>
    </button>   
    
    <ion-item>
        <ion-icon name="download" item-start></ion-icon>
        Export Data
        <button ion-button outline item-end (click)="exportData()" [disabled]="properties.exportLoading">
            <ion-spinner class="add-friend-loading" *ngIf="properties.exportLoading"></ion-spinner>
            Download
        </button>
    </ion-item>  
    
    
    <ion-list-header>
        <h2>Support</h2>
    </ion-list-header>  
    
 <ion-item>
    <ion-icon name="heart" item-start></ion-icon>
    Rate The App
    <button ion-button outline item-end (click)="openRate()">Rate</button>
  </ion-item>    
    
    
 <ion-item>
    <ion-icon name="logo-facebook" item-start></ion-icon>
    Follow Us
    <button ion-button outline item-end (click)="openFollow()">Follow</button>
  </ion-item>   
    
    
 <ion-item>
    <ion-icon name="mail" item-start></ion-icon>
    Contact Support
    <button ion-button outline item-end (click)="openEmail()">Email</button>
  </ion-item>     
    
    
    <ion-list-header>
        <h2>Account Settings</h2>
    </ion-list-header>      
    


    <button ion-item detail-none (click)="openChangePassword()">
            <ion-icon name="unlock" item-start></ion-icon>
        Change Password
        <ion-icon ios="ios-arrow-forward" md="ios-arrow-forward" item-end></ion-icon>
    </button>  
    
    <ion-item>
       <ion-icon name="trophy" item-start></ion-icon>
       Premium
       <button ion-button outline item-end (click)="upgrade()" *ngIf="!account.premium">Upgrade</button>
       <button ion-button outline item-end disabled *ngIf="account.premium">Purchased</button>
     </ion-item>     


    <button ion-item detail-none (click)="logout()">
            <ion-icon name="lock" item-start></ion-icon>
        Logout
    </button> 

     
</ion-list>    
 
</ion-content>