<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Programs</ion-title>

       <ion-buttons end>
            <button ion-button icon-only tools>
                <ion-icon name="more" ></ion-icon>
            </button>
        </ion-buttons>   
        
      
    
    </ion-navbar>
</ion-header>

<ion-content>
    
    <ion-searchbar
        [(ngModel)]="properties.search"
        [showCancelButton]="shouldShowCancel"
        (ionInput)="searchStarted()"
        placeholder="Search Programs"
        class="flat-search">
    </ion-searchbar> 

    <div class="extended-segments" id="program-segments" >
    <ion-segment color="primary" [(ngModel)]="properties.activeTab">
        <ion-segment-button value="popular">
            Popular
        </ion-segment-button>
      <ion-segment-button value="powerlifting">
            Powerlifting
      </ion-segment-button>
      <ion-segment-button value="bodybuilding">
            Bodybuilding
      </ion-segment-button>            
        
        <ion-segment-button value="created">
            My Programs
        </ion-segment-button>
      <ion-segment-button value="recent">
            Recent Adds
      </ion-segment-button>         
      <ion-segment-button value="all">
            All Programs
      </ion-segment-button>     
    </ion-segment>
    </div>

    <div class="card-background-page" *ngIf="properties.activeTab === 'popular'">
    
        <ion-card (click)="openProgram({name:'5/3/1', id:12})">
            <img src="http://api.intensityapp.com/uploads/531.jpg"/>
            <div class="card-title">5/3/1</div>
            <div class="card-subtitle">4 Weeks</div>
        </ion-card>    
        
        <ion-card (click)="openProgram({name:'The Juggernaut Method', id:235})">
            <img src="http://api.intensityapp.com/uploads/juggernaut.jpg"/>
            <div class="card-title">The Juggernaut Method</div>
            <div class="card-subtitle">16 Weeks</div>
        </ion-card>          
        

        <ion-card (click)="openProgram({name:'Starting Strength', id:10})">
            <img src="http://api.intensityapp.com/uploads/startingstrength.jpg"/>
            <div class="card-title">Starting Strength</div>
            <div class="card-subtitle">Alternating Workouts</div>
        </ion-card>  


        <ion-card (click)="openProgram({name:'StrongLifts 5x5', id:50})">
            <img src="http://api.intensityapp.com/uploads/stronglifts.jpg"/>
            <div class="card-title">StrongLifts 5x5</div>
            <div class="card-subtitle">Alternating Workouts</div>
        </ion-card>  


        <ion-card (click)="openProgram({name:'Smolov', id:13})">
            <img src="http://api.intensityapp.com/uploads/smolov.jpg"/>
            <div class="card-title">Smolov</div>
            <div class="card-subtitle">13 Weeks</div>
        </ion-card>          
        
        
    </div>
    


    <div class="card-background-page" *ngIf="properties.activeTab === 'powerlifting'">
    
        <ion-card (click)="openProgram({name:'Sheiko #29', id:220})">
            <img src="http://api.intensityapp.com/uploads/sheiko.jpg"/>
            <div class="card-title">Sheiko</div>
            <div class="card-subtitle">4 Weeks</div>
        </ion-card>    
        
        <ion-card (click)="openProgram({name:'Smolov Jr Bench', id:54})">
            <img src="http://api.intensityapp.com/uploads/smolovbench.jpg"/>
            <div class="card-title">Smolov Jr Bench</div>
            <div class="card-subtitle">3 Weeks</div>
        </ion-card>          
        

        <ion-card (click)="openProgram({name:'PowerliftingToWin Intermediate Program 1', id:212})">
            <img src="http://api.intensityapp.com/uploads/ptw.jpg"/>
            <div class="card-title">PowerliftingToWin</div>
            <div class="card-subtitle">Alternating Workouts</div>
        </ion-card>  


        <ion-card (click)="openProgram({name:'The Cube Method', id:217})">
            <img src="http://api.intensityapp.com/uploads/cube.jpg"/>
            <div class="card-title">The Cube Method</div>
            <div class="card-subtitle">10 Weeks</div>
        </ion-card>  


        <ion-card (click)="openProgram({name:'Candito 6 Week Strength Program', id:208})">
            <img src="http://api.intensityapp.com/uploads/candito.jpg"/>
            <div class="card-title">Candito Strength Program</div>
            <div class="card-subtitle">6 Weeks</div>
        </ion-card>          
        
        <ion-card (click)="openProgram({name:'5/3/1', id:12})">
            <img src="http://api.intensityapp.com/uploads/531.jpg"/>
            <div class="card-title">5/3/1</div>
            <div class="card-subtitle">4 Weeks</div>
        </ion-card>    
         
        
        <ion-card (click)="openProgram({name:'Smolov', id:13})">
            <img src="http://api.intensityapp.com/uploads/smolov.jpg"/>
            <div class="card-title">Smolov</div>
            <div class="card-subtitle">13 Weeks</div>
        </ion-card>    

        <ion-card (click)="openProgram({name:'The Conjugate Method by Westside Barbell', id:222})">
            <img src="http://api.intensityapp.com/uploads/conjugate.jpg"/>
            <div class="card-title">The Conjugate Method</div>
            <div class="card-subtitle">3 Weeks</div>
        </ion-card>    

        <ion-card (click)="openProgram({name:'Coan Philippi Deadlift Routine', id:219})">
            <img src="http://api.intensityapp.com/uploads/coan.jpg"/>
            <div class="card-title">Deadlift Routine</div>
            <div class="card-subtitle">10 Weeks</div>
        </ion-card>            

        <ion-card (click)="openProgram({name:'Smolov Jr', id:53})">
            <img src="http://api.intensityapp.com/uploads/smolovjr.jpg"/>
            <div class="card-title">Smolov Jr</div>
            <div class="card-subtitle">3 Weeks</div>
        </ion-card>     
        
        <ion-card (click)="openProgram({name:'The Juggernaut Method', id:235})">
            <img src="http://api.intensityapp.com/uploads/juggernaut.jpg"/>
            <div class="card-title">The Juggernaut Method</div>
            <div class="card-subtitle">16 Weeks</div>
        </ion-card> 

        
    </div>
    
    
    <div class="card-background-page" *ngIf="properties.activeTab === 'bodybuilding'">
    
        <ion-card (click)="openProgram({name:'Layne Norton PHAT', id:216})">
            <img src="http://api.intensityapp.com/uploads/layne.jpg"/>
            <div class="card-title">Layne Norton PHAT</div>
            <div class="card-subtitle">Weekly Bodypart Split</div>
        </ion-card>    
        
        <ion-card (click)="openProgram({name:'Gorillafinger 5 Day Split', id:171})">
            <img src="http://api.intensityapp.com/uploads/gorilla.jpg"/>
            <div class="card-title">Gorillafinger 5 Day Split</div>
            <div class="card-subtitle">Weekly Bodypart Split</div>
        </ion-card>    
        
        <ion-card (click)="openProgram({name:'Power Hypertrophy UL', id:114})">
            <img src="http://api.intensityapp.com/uploads/upperlower.jpg"/>
            <div class="card-title">Power Hypertrophy</div>
            <div class="card-subtitle">Weekly Upper/Lower Split</div>
        </ion-card>        
        
        <ion-card (click)="openProgram({name:'German Volume Training', id:64})">
            <img src="http://api.intensityapp.com/uploads/german.jpg"/>
            <div class="card-title">German Volume Training</div>
            <div class="card-subtitle">Weekly Fullbody Split</div>
        </ion-card>      
        
        <ion-card (click)="openProgram({name:'StrongLifts 5x5', id:50})">
            <img src="http://api.intensityapp.com/uploads/stronglifts.jpg"/>
            <div class="card-title">StrongLifts 5x5</div>
            <div class="card-subtitle">Alternating Workouts</div>
        </ion-card>         
        
        
    </div>  
    
    <ion-list class="add-diary-list" *ngIf="properties.activeTab === 'created'">
        <button ion-item detail-none *ngFor="let program of createdPrograms; let i = index" (click)="openProgram(program)">
            {{program.name}}
            <ion-icon name='create' item-end *ngIf="checkOwnership(program.userid)" (click)="openEditProgram($event, program)"></ion-icon>
            <ion-icon name='trash' item-end *ngIf="checkOwnership(program.userid)" (click)="openDeleteProgram($event, program, i)"></ion-icon>
        </button> 
    </ion-list>     
    
    <ion-list class="add-diary-list" *ngIf="properties.activeTab === 'recent'">
        <button ion-item detail-none *ngFor="let program of recentPrograms; let i = index" (click)="openProgram(program)">
            {{program.name}}
            <ion-icon name='create' item-end *ngIf="checkOwnership(program.userid)" (click)="openEditProgram($event, program)"></ion-icon>
            <ion-icon name='trash' item-end *ngIf="checkOwnership(program.userid)" (click)="openDeleteProgram($event, program, i)"></ion-icon>
        </button> 
    </ion-list>    
    
    
    <ion-list class="add-diary-list" *ngIf="properties.activeTab === 'all'">
        <button ion-item detail-none *ngFor="let program of programs | programSearch:properties.search; let i = index" (click)="openProgram(program)">
            {{program.name}}
            <ion-icon name='create' item-end *ngIf="checkOwnership(program.userid)" (click)="openEditProgram($event, program)"></ion-icon>
            <ion-icon name='trash' item-end *ngIf="checkOwnership(program.userid)" (click)="openDeleteProgram($event, program, i)"></ion-icon>
        </button> 
    </ion-list>     
    

    
    <ion-fab bottom right>
        <button ion-fab color="primary" (click)="openCreateProgram()">
            <ion-icon name="add"></ion-icon>
        </button>
    </ion-fab>    
 
</ion-content>
